# required
mkdocs-material~=9.7.0 # doc theme that includes extensive functionality, pinned to last stable version
pymdown-extensions # various extensions for markdown
mkdocs-jupyter # jupyter notebooks
mkdocstrings # generate API reference from docstrings
mkdocstrings-python # python handler for mkdocstrings
mkdocs-api-autonav # automatically add API ref to navigation
material-plausible-plugin # plausible web analytics service

# optional
mkdocs-include-markdown-plugin # include files outside /docs
mkdocs-autorefs # create automatic linkable references to sections, etc.
mkdocs-table-reader-plugin # directly insert csv and other formats as tables
mkdocs-mermaid2-plugin # render mermaid diagrams
mkdocs-git-revision-date-localized-plugin # per-page last-updated dates from git history

# include all packages needed for running Jupyter notebooks
